@import "./variables.scss";
@import "./mixins.scss";
@import "./animations.scss";

// Global Styling

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  // Size
  height: 100vh;
  width: 100vw;
  //   Postition
  z-index: -2;
  // Content alignment
  display: flex;
  justify-content: center;
  align-items: center;
  // Content limitations
  overflow: hidden !important;
  position: fixed;
  //
  background: rgb(255, 255, 255);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgb(201, 246, 255) 100%
  );
}

// Particular Styling

#waves {
  // Positioning
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  //   Size
  height: 200px;
  //   Animation
  transition: 500ms;

  &::before,
  &::after {
    content: "";
    // Positioning
    position: absolute;
    top: 210vw; // -110 for top-down waves
    left: 50%;
    //   Size
    width: 300vw;
    height: 310vw;
    //   Animation
    transform: translate(-50%, -75%);
  }
  &::before {
    //   Size
    border-radius: 44%;
    border: $C3 solid 2px;
    // Color
    background-color: $C1;
    opacity: 0.3;
    //   Animation
    animation: waves 12s linear infinite;
  }
  &::after {
    //   Size
    border-radius: 44%;
    // Color
    background-color: $C1;
    opacity: 0.3;
    //   Animation
    animation: waves 20s linear infinite;
  }
}

// media queries
